{% extends 'excurj/base_no_amp.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title_block %}
	excurj | Login
{% endblock %}

{% block body_block %}
<div style="max-height: 100vh;" class="col-sm-6 col-sm-offset-3">
	<div style="padding: 100px; margin: auto;">
	<h1>Login</h1>
	<form method="post" action=".">
	  {% csrf_token %} 
	  {{ form|crispy }}

	  <input class="btn btn-primary" type="submit" value="{% trans 'Log in' %}" />
	  <input type="hidden" name="next" value="{{ next }}" />
	</form>
	<p class="lead">{% trans "Forgot password" %}? <a href="">{% trans "Reset it" %}</a>!</p>
	<p class="lead">{% trans "Not member" %}? <a href="">{% trans "Register" %}</a>!</p>
</div>
</div>

{% endblock %}
