{% extends 'excurj/base_no_amp.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title_block %}
	Login to Your Excurj Account
{% endblock %}

{% block extra_style %}
	 
{% endblock %}

{% block body_block %}
	<div style="height: 100vh;">
	<div style="padding: 100px;width: 20%; margin: auto;">	

	<h1>Register here</h1>
	<div class="col-sm-6 col-sm-offset-3">
		<form method="post" action=".">
			{% csrf_token %}
			{{ form|crispy}}

			<input class="btn btn-primary" type="submit" name="Log in">
		</form>
	</div>
	</div>
</div>
{% endblock %}