body{
	padding-top: 0px;
/*	background-color: lightblue;
*/}

nav.navbar{
	border: none;
	background-color: rgba(255,255,255,0.6);
	transition: background-color 1s ease 0s;
	font-family: 'Questrial', sans-serif;
	font-weight: bolder;
	font-size: 15px;
}

.navbar-header{
	opacity: .6;
}

.container-fluid{
	padding: 0;
}

/*to change nav bar color upon scrolling*/
nav.navbar.opaque{
	background-color: rgba(255,255,255,1);
	transition: background-color 1s ease 0s;
}

.active{
	background-color: white;
	opacity: .5;
}

#topsearchbox{
	width: 200px;
	-webkit-transition: width 0.4s ease;
	transition: width 0.4s ease;
	border: none;
	opacity: .7;
}

#topsearchbox:focus{
	width:250px;
	opacity: 1;

}

ul.nav li:hover{
	background-color: white;
	color: white;
	opacity: 0.5;
}

navbar-nav ul li a{
	color: white;
}

.jumbotron{
	background: no-repeat fixed;
    background-size: cover;
    margin: 0;
    color: white;
    padding: 0px;
    width: 100%;

}

.jumbotron #container {
    position: relative;
    overflow: hidden;
    height: 600px;
    background: #edeae8;
    margin: 0;
    background-size: cover;
    padding: 0;
    width: 100%;
    position: relative;
  	overflow: hidden;
  	margin: 0 auto;
}

.jumbotron #container video{
    width: 110%;
}

.arrow {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom:.7%;
  background-color: rgba(255, 255, 255, 0.2);
}
.arrow:before, .arrow:after {
  content:'';
  position: absolute;
  bottom: 100%;
  width: 50%;
  padding-bottom:inherit;
  background-color: inherit;
}
.arrow:before {
  right: 50%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -ms-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
}
.arrow:after {
  left: 50%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -ms-transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
}

.jumbotron h1{
	font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 20;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
}

.jumbotron p{
	font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 20;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
}

.homepage_jumbo{
	background-color: transparent;
	position: absolute;
	width: 800px;
	left: 0;
  	right: 0;
  	margin: 0 auto;
  	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

#details-header{
	width: 70%;
	margin: auto;
}

@media only screen and (max-width: 600px){

	.jumbotron h1{
	font-size: 25px;
}

.jumbotron p{
	font-size:15px;
    font-weight: 20;
}

.homepage_jumbo{
	background-color: transparent;
	position: absolute;
	width: 800px;
	left: 0;
  	right: 0;
  	margin: 0 auto;
  	top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#details-header{
	width: 45%;
	margin: auto;
}


}