
body{
	padding-top: 0px;
}

nav.navbar{
	border: none;
	background-color: rgba(255,255,255,0.6);
	transition: background-color 1s ease 0s;
	font-family: 'Questrial', sans-serif;
	font-weight: bolder;
	font-size: 15px;
}

.navbar-header{
	opacity: .6;
}

.container-fluid{
	padding: 0;
}

/*to change nav bar color upon scrolling*/
nav.navbar.opaque{
	background-color: rgba(255,255,255,1);
	transition: background-color 1s ease 0s;
}

.active{
	background-color: white;
	opacity: .5;
}

#topsearchbox{
	width: 200px;
	-webkit-transition: width 0.4s ease;
	transition: width 0.4s ease;
	border: none;
	opacity: .7;
}

#topsearchbox:focus{
	width:250px;
	opacity: 1;

}

ul.nav li:hover{
	background-color: white;
	color: white;
	opacity: 1;
}



.jumbotron{
	background: no-repeat fixed;
    background-size: cover;
    margin: 0;
    color: white;
    padding: 0px;
    width: 100%;
    object-fit: cover;

}

.jumbotron #container {
    position: relative;
    overflow: hidden;
    height: 600px;
    background: #edeae8;
    margin: 0;
    background-size: cover;
    padding: 0;
    width: 100%;
    position: relative;
  	overflow: hidden;
  	margin: 0 auto;
}

.jumbotron #container video{
    width: 110%;
    height: 100%;
    object-fit: cover;
}

.arrow {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom:.7%;
  background-color: rgba(255, 255, 255, 0.2);
}
.arrow:before, .arrow:after {
  content:'';
  position: absolute;
  bottom: 100%;
  width: 50%;
  padding-bottom:inherit;
  background-color: inherit;
}
.arrow:before {
  right: 50%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -ms-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
}
.arrow:after {
  left: 50%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -ms-transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
}

.jumbotron h1{
	font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 20;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
}

#homepage-search{
	 font-family: 'Questrial', sans-serif;
	 font-size: 20px;
	 font-weight: bold;
	 transition: width 2s ease;
}

.jumbotron p{
	font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 20;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
}

.homepage_jumbo{
	background-color: transparent;
	position: absolute;
	width: 700px;
	left: 0;
  	right: 0;
  	margin: 0 auto;
  	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.header-sections{
	width: 100%;
	margin: auto;
}


#homepage-search{
	width: 100%;
	margin: auto;
	padding: 20px;
	transition: padding .0s ease;
	opacity: 0.7;
	border: none;
}

#homepage-search:focus{
	padding: 22px;
	opacity: 1;
}

.header-button{
	padding: 5px 10px;
	font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
    width: 220px;
    opacity: .7;
    margin: 0px 20px;
    border: none;
    border-radius: 2px;
}

.header-button:hover{
	opacity: 1;
}

.buttons{
	margin: auto;
	width: 100%;
	text-align: center;
}


.how-it-works-container, .superstars-container, .popular-cities-container{
	padding: 40px;
	font-family: 'Montserrat', sans-serif;
	opacity: .8;
	text-align: center;
	width: 100%;
}

.how-it-works-container{
	background-color: #C5B358;
}

.superstars-container{
	background-color: white;
}

.popular-cities-container{
	background-color: #efebe1;
}

.how-it-works-container h2, .popular-cities-container h2{
	text-align: center;
	position: relative;
	color: white;
	margin-bottom: 30px;
}

.popular-cities-container h2{
	color: grey;
}

.superstars-container h2{
	text-align: center;
	position: relative;
	color: black;
	margin-bottom: 30px;
	font-family: 'Questrial', sans-serif;
}

.how-it-works-container h2:after{
	content: "";
	position: absolute;
	top: 50px;
	left: 47%;
	right: 47%;
	height: 2px;
	background-color: white;
	display: block;
}

.superstars-container h2:after{
	content: "";
	position: absolute;
	top: 50px;
	left: 47%;
	right: 47%;
	height: 2px;
	background-color: black;
	display: block;
}

.popular-cities-container h2:after{
	content: "";
	position: absolute;
	top: 50px;
	left: 47%;
	right: 47%;
	height: 2px;
	background-color: grey;
	display: block;
}

.how-it-works-box{
	padding: 30px;
	background-color: #D6C362;
	margin: 20px 5px;
/*	min-width: calc(40%);
*/	overflow-wrap: break-word;
	color: white;
	display: inline-block;
	box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popular-cities-box{
	
	background-color: grey;
	margin: 10px 5px;
	overflow-wrap: break-word;
	color: white;
	display: inline-block;
	width: 200px;
	min-height: 170px;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popular-cities-box img{
	
	width: 200px;
    height: 170px;
	
}

.popular-cities-box a{
	display: block;

}

.how-it-works-box h3{
position: relative;
}


.how-it-works-box h3:after{
	content: "";
	position: absolute;
	top: 35px;
	left: 30%;
	right: 30%;
	height: 2px;
	background-color: white;
	display: block;
}

.how-it-works-box p{
	margin-top: 20px;
	font-weight: ;
	font-size: 20px;
	font-family: 'Questrial', sans-serif;
}


.superstars-box{
	background-color: white;
}

.superstars-box #first{
	float: left;
}

.superstars-box #second{
	float: right;
}


.clearfix{
	overflow: auto;
}



.paired{
	padding: 10px 0px;
	font-family: 'Questrial', sans-serif;
}

.superstars-box-header{
	
	font-family: 'Questrial', sans-serif;
	font-size: 16px;
	font-weight: bold;
}


.thumbnails{
	position: relative;
	overflow: hidden;

}

.popular-cities-box:hover{
	filter: brightness(120%);
}

.captions{
	position: absolute;
	left: 100px;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.popular-cities-box:hover .num{
	left: 0;
}

.num{
	position: absolute;
    
    left:-800px;
    bottom: 0;
    transition: left 300ms ease-out;
}

.captions h2, .num p{
	color: black;
	background-color: rgba(255,255,255,.69);
	padding: 5px;
	
}

.num p{
	padding: 1px 2px;
}












@media only screen and (max-width: 750px){

	#mainNavBar{
		background-color: rgba(255,255,255,1);
	}

	#topsearchbox{
	width: 200px;
	-webkit-transition: width 0.4s ease;
	transition: width 0.4s ease;
	border: none;
	opacity: .7;
}

#topsearchbox:focus{
	width:250px;
	opacity: 1;

}

	.jumbotron #container video{
    width: 110%;
    height: 100%;
    object-fit: cover;
}

	ul.nav li{
	background-color: white;
	color: white;
	opacity: 1;
}

	.jumbotron h1{
	font-size: 20px;
}

.jumbotron{
	background-image: url('/static/images/capture.jpg');
}

.jumbotron p{
	font-size:15px;
    font-weight: 20;
}

.homepage_jumbo{
	background-color: transparent;
	position: absolute;
	width: 350px;
	left: 0;
  	right: 0;
  	margin: 0 auto;
  	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('./images/capture.jpg');
}

#header-sections{
	width: 40%;
	margin: auto;
}

#homepage-search{
	width: 100%;
	margin: auto;
	padding: 0px;
}

.header-button{
	padding: 7px 16px;
	font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
    width: 35%
}

#homepage-search:focus{
	padding: 18px;

}

.how-it-works-box h3:after{
	
	top: 55px;
	
}

.how-it-works-container h2:after{
	
	left: 37%;
	right: 37%;
	
}
}