{% extends 'excurj/base.html' %}
{% load staticfiles %}

{% block title_block %}
	excurj {{city.display_name}} | Become Friends With {{city.display_name}} Locals, Free Excursions With Locals, Culture Exchange, Current Events, Things To Do and More!
{% endblock %}

{% block desc_block %}
	<meta name="description" content="excurj is the ultimate social network for travelers and locals in {{city.display_name}}. Meet {{city.display_name}}'s locals. Go on free excurions with locals to bond and become friends! Exchange culture with locals. Learn about local events, history and more!">
{% endblock %}


{% block kw_block %}
	<meta name="keywords" content="meet locals in {{city.name}}, {{city.display_name}} events, excursions in {{city.display_name}}, make friends with {{city.display_name}} locals, friends, fun, genuine travel experience, culture, cultural exchange, inter-cultural relationships, tolerance, travel, travel blogging, travel vloging, things to do in {{city.display_name}}, {{city.name}}">
{% endblock %}




{% block body_block %}

<div class="jumbotron" id="city_jumbotron">
	<div class="container" style="background-image:url('{{ MEDIA_URL }}{{city.city_image}}');">
		<div class="city_header">
			<h1> {{city.display_name.upper}} </h1>
		</div>
	</div>
</div>

	<ul class="nav  navbar-centered tabs" id="">
		<li class="active" role="presentation"><a data-toggle="tab" href="#locals">LOCALS</a></li>
		<li role="presentation"><a data-toggle="tab" href="#coming">PEOPLE COMING HERE SOON</a></li>
		<li role="presentation"><a data-toggle="tab" href="#insta">INSTAFRAM FEED</a></li>
		<li role="presentation"><a data-toggle="tab" href="#wiki">WIKI SUMMARY</a></li>
		<li role="presentation" title="Coming Soon!"><a data-toggle="tab" href="#events" title="coming soon!">LOCALS EVENTS</a></li>
		<li title="Coming Soon!"><a data-toggle="tab" href="javascript:void(0)" title="coming soon!">POINTS OF INTEREST</a></li>
	</ul>

<div class="tab-content no_outline">
    <div id="locals" class="tab-pane fade in active no_outline">

	<div class="container table-responsive">
	  <h2 style="text-align: center;"> Locals of <span style="font-weight: bold;">{{city.name}}</span></h2>
	  <!-- <p>The .table-striped class adds zebra-stripes to a table:</p> -->            
	  <table class="table table-striped table-condensed table-hover">
	    <thead>
	      <tr>
	        <th>Name</th>
	        <th>Age</th>
	        <th>Career</th>
	        <th>Education</th>
	      </tr>
	    </thead>

	    <tbody>
	   	{% if city_locals_profiles %}
	    {% for local in city_locals_profiles %}
	      <tr>
	        <td><img src=" {{ local.prof_pic.url }} " alt="{{local.user.first_name.title}}  {{local.user.last_name.title}}" class="img-circle" width="105px" height="105px">  <a href="{% url 'excurj:show_profile' local.user.username %}" title="{{local.user.first_name.title}}  {{local.user.last_name.title}}">{{local.user.first_name.title}}  {{local.user.last_name.title}}</a>   </td>

	        <td>{{local.age}} year-old</td>

	        <td> {{local.career}} </td>

	        <td>  {{local.education}} </td>
	      </tr>
	    {% endfor %}
    	{% else %}
		<strong>There's no people in this city yet :( but there'll be soon! :)</strong>
		{% endif %}
	    </tbody>
	  </table>
	</div>
<!-- 		<h1>{{city.name}}'s Locals</h1>


		{% if city_locals_profiles %}
			<ul>
			{% for local in city_locals_profiles %}
				<li> <img src=" {{ local.prof_pic.url }} " class="img-circle"> <a href="{% url 'excurj:show_profile' local.user.username %}">{{local.user.first_name.title}}  {{local.user.last_name.title}}</a> {{local.sex.title}} born on  {{local.dob|date:'F-d'}} </li>
			{% endfor %}
			</ul>

		{% else %}
			<strong>There's no people in this city yet :( but there'll be soon! :)</strong>
		{% endif %} -->
    </div>

	<div id="coming" class="tab-pane fade no_outline" style="border: none;">


	<div class="container table-responsive">
	  <h2 style="text-align: center;">People coming to <span style="font-weight: bold;"> {{city.display_name}} </span> soon! </h2>
	  <!-- <p>The .table-striped class adds zebra-stripes to a table:</p> -->            
	  <table class="table table-striped table-condensed table-hover">
	    <thead>
	      <tr>
	        <!-- <th>Name</th>
	        <th>Age</th>
	        <th>Career</th>
	        <th>Education</th> -->
	      </tr>
	    </thead>

	    <tbody>
	    {% if excursions %}
	   	{% for exj in excursions %}
	      <tr>
	        <td><img src=" {{exj.traveler.profile.prof_pic.url }} " class="img-circle" width="105px" height="105px" alt="{{ exj.traveler.first_name.title }}  {{ exj.traveler.last_name.title }}">  </td>
	        <td> <strong> <a href=" {% url 'excurj:show_profile' exj.traveler.username %} " title="{{ exj.traveler.first_name.title }}  {{ exj.traveler.last_name.title }}">{{ exj.traveler.first_name.title }}</a>  is arriving on {{ exj.date}} </td>
	        <td> <p class="lead">" {{exj.message}} "</p></td>
	      </tr>
	    {% endfor %}
			
		{% else %}
		<p class="lead">No one is coming just now.</p>
		{% endif %}
	    </tbody>
	  </table>
	</div>
</div>



    <div id="insta" class="tab-pane fade no_outline">
    	<script async src="https://d36hc0p18k1aoc.cloudfront.net/pages/a5b5e5.js"></script><div class="tintup" data-id="moghrabi" data-columns="" data-expand="true"    data-infinitescroll="true" data-personalization-id="863390" style="height:500px;width:100%;"></div>
    </div>



    <div id="events" class="tab-pane fade no_outline" style="margin-right: 20px;padding: 20px;">
      <h2>Here's what's happening in <strong>{{city.display_name}}</strong> to jump start your plans! </h2>
      {% if events %}

      {% for event in events %}

	    <div class="abouts">

	    	<a href=" {% url 'excurj:eventdetails' city.slug event.id %} " title="{{event.name}} in {{city.name}}"><h3>{{forloop.counter}}. {{event.name}}</h3></a>


	    	<div style="overflow: auto;">
	    		{% if event.cover %}
      				<img src="{{event.cover}}" style="float: right; width: 500px; height: auto;" class="img-thumbnail img-responsive" alt="{{event.name}} in {{city.name}}">
      			{% endif %}


      			{% if event.place.name %}
      				<pre style="white-space:pre-wrap; background-color: white; border: none;font-weight: bold;">Place or venue:<a href=" {% url 'excurj:eventdetails' city.slug event.id %}#venue_map " title="{{event.place.name}}"> {{event.place.name}} </a></pre>
      			{% else %}
      				<pre style="white-space:pre-wrap; background-color: white; border: none;">Venue or place not available</pre>
      			{% endif %}

      			{% if event.start_time %}
      				<pre style="white-space:pre-wrap; background-color: white; border: none;font-weight: bold;">Start time: {{event.start_time}}</pre>
      			{% else %}
      				<pre style="white-space:pre-wrap; background-color: white; border: none;">start time not available</pre>
      			{% endif %}


      			{% if event.ticket_uri %}
      				<pre style="white-space:pre-wrap; background-color: white; border: none;font-weight: bold;">Tickets: <a href="{{event.ticket_uri}}" target="_blank" title="Tickets for {{event.name}} in {{city.name}}" >{{event.ticket_uri}}</a></pre>
      			{% else %}
      				<pre style="white-space:pre-wrap; background-color: white; border: none;">Ticket info not avilable</pre>
      			{% endif %}


	    		{% if event.description %}
      				<pre style="white-space:pre-wrap; background-color: white; border: none;">{{event.description|truncatewords:50}} <a href=" {% url 'excurj:eventdetails' city.slug event.id %} " title="Details: {{event.name}} in {{city.name}}">more.</a> </pre>
      			{% else %}
      				<pre style="white-space:pre-wrap; background-color: white; border: none;">Description not available</pre>
      			{% endif %}
	    	</div>

		</div>

	  {% endfor %}	

	  {% else %}
	  	<p class="lead">No events were found.</p>

	  {% endif %}

    </div>



    <div id="poi" class="tab-pane fade no_outline">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>



	<div id="wiki" class="tab-pane fade no_outline" style="padding: 20px;">
	  	<h2><strong>{{city.display_name}}</strong>'s Wiki Summary to Jump Start Your Conversations!</h2>
		<pre style="white-space:pre-wrap; background-color: white; border: none;"> {{city.description}} </pre>
	</div>
  </div>


	<script type="text/javascript">
		$('.nav-tabs li a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
		$('.tab-content > .tab-pane.active').jScrollPane();
	});
	</script>

	
{% endblock %}