{% extends 'excurj/base_amp.html' %}
{% load staticfiles %}

{% block title_block %}
	Meet the locals of {{city.display_name}} | Meet travel mates coming to {{city.display_name}} soon | Events in {{city.display_name}}
{% endblock %}

{% block desc_block %}
	<meta name="description" content="excurj is a community where {{city.display_name}} locals show visitors around their city to form new inter-cultural friendships. Meet {{city.display_name}}'s locals. Go on free excurions with locals to bond and become friends! Exchange culture with locals. Learn about local events, history and more!">
{% endblock %}


{% block kw_block %}
	<meta name="keywords" content="meet locals in {{city.name}}, {{city.display_name}} events, excursions in {{city.display_name}}, make friends with {{city.display_name}} locals, friends, fun, genuine travel experience, culture, cultural exchange, inter-cultural relationships, tolerance, travel, travel blogging, travel vloging, things to do in {{city.display_name}}, {{city.name}}">
{% endblock %}

{% block css %}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 310px;
  text-align: left;
  position: relative;
  height: 250px;
  padding: 5px;
  
}

.event_card {
	grid-auto-rows:minmax(100px, auto);
	display: grid;
	grid-template-columns: .7fr 3.7fr;
	grid-gap: 1em;
	justify-items:stretch;
    align-items:stretch;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	
}

.card span.name {
	font-size: 1.1em;
	font-weight: normal;
    text-overflow: ellipsis;
}

.card amp-img {
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px;
}



.card_head {
	left: 150px;
    max-height: 150px;
    
    top: 8px;
    right: 10px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


.card_head_event {
	overflow: -webkit-paged-y;
	overflow-wrap: break-word;
	padding: 12px;
}

.what {
    overflow:hidden;
    text-overflow: ellipsis;
    max-height: 150px;
    
    top: 130px;
    padding: 10px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.card p {
	margin: 10px 0 0 0;
}

.card .title {
  color: grey;
  font-size: 13px;
}

.card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgba(255, 90, 95, 1);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.event_card a {
  text-decoration: none;
  font-size: 15px;
  color: black;
}

.card a:hover {
  opacity: 0.7;
}


.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em;
	justify-items:center;
    align-items:center;
    grid-auto-rows: minmax(100px, auto);
}


.prof_pic_overlay {
	position:absolute;
	top: 50px;
	left: 0;
	padding:10px;
	
	background: rgba(99,184,255,0.7);
}

.event_cards {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1em;
}


@media only screen and (min-width: 2560px){
.cards {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.event_card {
	
	grid-template-columns: 1fr;
	grid-auto-rows:minmax(100px, auto);
	
}

}
@media only screen and (max-width: 1200px){
.cards {
	grid-template-columns: 1fr 1fr;
}

.event_card {
	grid-template-columns: 1fr;
	grid-auto-rows:minmax(100px, auto);
	
}
}

@media only screen and (max-width: 800px){
.cards {
	grid-template-columns: 1fr;
}

.event_card {
	grid-template-columns: 1fr;
	grid-auto-rows:minmax(100px, auto);
	
}

}


@media only screen and (max-width: 360px){
.event_card {
	grid-template-columns: 1fr;
	height: 550px;
	
}
}
.tabContent h2 {
	text-align:center;
}
{% endblock %}


{% block body_block %}

<div class="jumbotron" id="city_jumbotron">
	<div class="container">
		<div class="city_header">
			<h1 title="Meet locals of {{city.name}} | Go on excursions | Exchange Culture | Make {{city.display_name}} Friends | Learn about local events and more!"> {{city.display_name.upper}} </h1>
		</div>
	</div>
</div>


<amp-selector role="tablist"
  layout="container"
  class="ampTabContainer">
  <div role="tab"
    class="tabButton"
    selected
    option="a">

    Locals of {{city.display_name}}
 </div>



  <div role="tabpanel"
    class="tabContent">

    <h2 title="Locals of {{city.display_name}}"> Locals of <span>{{city.name}}</span></h2>

    {% if city_locals_profiles %}
    <div class="cards">
	    {% for local in city_locals_profiles %}

	    	<a href="{% url 'excurj:show_profile' local.user.username %}">
	    	<div class="card {% cycle 'rev1' 'rev2' %}">
	    	
			  <amp-img src="{{ local.prof_pic.url }}" alt="{{local.user.first_name.title}}  {{local.user.last_name.title}}" width="120px" height="120px" layout="fixed"></amp-img>
			  <div class="card_head">
				  <span class="name">{{local.user.first_name.title}}  {{local.user.last_name.title}}</span>
				  <p class="title"><i class="fa fa-briefcase" aria-hidden="true"></i> {{local.career.title}}</p>
				  <p class="title"><i class="fa fa-book" aria-hidden="true"></i> {{local.education.title}}</p>
				  <p class="title">{{local.user.local_requested.count}} References</p>
			  </div>

			  <div class="what">
			  	<p>
			  		<i class="fa fa-quote-left" aria-hidden="true"></i>
			  	 		{{local.what_will_you_show_visitors}}
			  	 	<i class="fa fa-quote-right" aria-hidden="true"></i>

			  	</p>
			  </div>
			  
			</div>
			</a>
	      <!-- tr>
	        <td><img src=" {{ local.prof_pic.url }} " alt="{{local.user.first_name.title}}  {{local.user.last_name.title}}" class="img-circle" width="105px" height="105px">  <a href="{% url 'excurj:show_profile' local.user.username %}" title="{{local.user.first_name.title}}  {{local.user.last_name.title}}">{{local.user.first_name.title}}  {{local.user.last_name.title}}</a>   </td>

	        <td>{{local.age}} year-old</td>

	        <td> {{local.career}} </td>

	        <td>  {{local.education}} </td>
	      </tr> -->
	    {% endfor %}
	    </div>
    	{% else %}
		<strong>There's no people in this city yet :( but there'll be soon! :)</strong>
		{% endif %}


  </div>


  <div role="tab"
    class="tabButton"
    option="b">People Coming to {{city.display_name}} Soon!</div>
  <div role="tabpanel"
    class="tabContent">
    
    <h2 title="Travel mates coming to {{city.name}}">Travel mates coming to {{city.display_name}} </span> soon! </h2>
    {% if excursions %}
    <div class="cards">
	   	{% for exj in excursions %}

	   	<a href="{% url 'excurj:show_profile' exj.traveler.username %} ">
	    	<div class="card {% cycle 'rev1' 'rev2' %}">
	    	
			  <amp-img src="{{exj.traveler.profile.prof_pic.url }}" alt="{{ exj.traveler.first_name.title }}  {{ exj.traveler.last_name.title }}" width="120px" height="120px" layout="fixed"></amp-img>
			  <div class="card_head">
				  <span class="name">{{ exj.traveler.first_name.title }}  {{ exj.traveler.last_name.title }}</span>
				  <p class="title"><i class="fa fa-briefcase" aria-hidden="true"></i> {{exj.traveler.profile.career.title}}</p>
				  <p class="title"><i class="fa fa-book" aria-hidden="true"></i> {{exj.traveler.profile.education.title}}</p>
				  <p class="title"><i class="fa fa-plane" aria-hidden="true"></i> Arriving on {{ exj.date}}</p>
				  <!-- <p class="title">{{exj.traveler.profile.user.local_requested.count}} References</p> -->
			  </div>

			  <div class="what">
			  	<p>
			  		<i class="fa fa-quote-left" aria-hidden="true"></i>
			  	 		{{exj.message}}
			  	 	<i class="fa fa-quote-right" aria-hidden="true"></i>

			  	</p>
			  </div>
			  
			</div>
		</a>



	      
	     
	       <!-- <amp-img src=" {{exj.traveler.profile.prof_pic.url }} " class="img-circle" width="105px" height="105px" alt="{{ exj.traveler.first_name.title }}  {{ exj.traveler.last_name.title }}" layout="fixed"></amp-img>
	        <strong> <a href=" {% url 'excurj:show_profile' exj.traveler.username %} " title="{{ exj.traveler.first_name.title }}  {{ exj.traveler.last_name.title }}">{{ exj.traveler.first_name.title }}</a>  is arriving on {{ exj.date}}
	        <p class="lead">" {{exj.message}} "</p> -->
	      
	    {% endfor %}
	</div>
			
		{% else %}
		<p class="lead">No one is coming just now.</p>
		{% endif %}





   </div>



     <div role="tab"
    class="tabButton"
    option="b">{{city.display_name}}'s Wiki Summary</div>
  <div role="tabpanel"
    class="tabContent">
    
    <h2 title="Wiki Summary About {{city.display_name}}">Here some info about {{city.display_name}} to jump start your conversations!</h2>
    
    <pre> {{city.description.text}} </pre>




   </div>




  <div role="tab"
    class="tabButton"
    option="c">Events in {{city.display_name}}</div>
  <div role="tabpanel"
    class="tabContent">
    {% if events %}
    <div class="event_cards">
     {% for event in events %}

     
     <div class="{% cycle 'rev1' 'rev2' %}">
     	<a href=" {% url 'excurj:eventdetails' city.slug event.id %} " title="{{event.name}} in {{city.name}}">
     		<h3 title="{{event.name.text}}">{{forloop.counter}}. {{event.name.text}}</h3>
     	</a>
	    	<div class="event_card">


	    	{% if event.logo.original.url %}
	    	<div>
			  <amp-img src="{{event.logo.original.url}}" alt="{{event.name.text}} in {{city.name}}" width="240px" height="200px" layout="flex-item" class=""></amp-img>
			 </div>
			 {% endif %}


			  <div class="card_head_event">

			  	{% if event.venue_address %}
				  <span title="{{event.venue_address}}"><strong>Venue or place:</strong> {{event.venue_address}} </span>
				{% else %}
					<span>Venue or place: Not Available :(</span>
				{% endif %}

				{% if event.start.local %}
      				<p><strong>Start time:</strong> {{event.start.local}}</p>
      			{% else %}
      				<p>Start time: Not Available</p>
      			{% endif %}

      			{% if event.url %}
      				<p><strong>Tickets:</strong> <a href="{{event.url}}" target="_blank" title="Tickets for {{event.name.text}} in {{city.name}}" >{{event.url}}</a></p>
      			{% else %}
      				<pre><strong>Tickets:</strong> Not Available</pre>
      			{% endif %}


      			{% if event.description %}
      				<i class="fa fa-quote-left" aria-hidden="true"></i><span>{{event.description.text|truncatewords:40}} <a href=" {% url 'excurj:eventdetails' city.slug event.id %} " title="More deatils on {{event.name.text}} in {{city.name}}"><strong>click for more details.</strong></a></span><i class="fa fa-quote-right" aria-hidden="true"></i>
      			{% else %}
      				<p>Description not available</p>
      			{% endif %}


			  </div>
			  
			</div>
		</div>


		

	  {% endfor %}	
</div>
	  {% else %}
	  	<p class="lead">No events were found.</p>

	  {% endif %}
    </div>
</amp-selector>

<!-- 	<ul class="nav  navbar-centered tabs" id="">
		<li class="active" role="presentation"><a data-toggle="tab" href="#locals" title="locals of {{city.display_name}}">LOCALS</a></li>
		<li role="presentation"><a data-toggle="tab" href="#coming" title="travel mates for {{city.display_name}}">PEOPLE COMING HERE SOON</a></li>
		<li role="presentation"><a data-toggle="tab" href="#insta" title="Instagram feed for {{city.display_name}}">INSTAFRAM FEED</a></li>
		<li role="presentation"><a data-toggle="tab" href="#wiki" title="Wiki summary of {{city.display_name}}">WIKI SUMMARY</a></li>
		<li role="presentation" title="Coming Soon!"><a data-toggle="tab" href="#events" title="Cool Events in {{city.display_name}}">LOCALS EVENTS</a></li>
		<li title="Coming Soon!"><a data-toggle="tab" href="javascript:void(0)" title="coming soon!">POINTS OF INTEREST</a></li>
	</ul> -->

<!-- <div class="tab-content no_outline">
    <div id="locals" class="tab-pane fade in active no_outline">

	<div class="container table-responsive">
	  <h2 style="text-align: center;" title="Locals of {{city.display_name}}"> Locals of <span style="font-weight: bold;">{{city.name}}</span></h2>
	          
	  <table class="table table-striped table-condensed table-hover">
	    <thead>
	      <tr>
	        <th>Name</th>
	        <th>Age</th>
	        <th>Career</th>
	        <th>Education</th>
	      </tr>
	    </thead>

	    <tbody>
	   	{% if city_locals_profiles %}
	    {% for local in city_locals_profiles %}
	      <tr>
	        <td><img src=" {{ local.prof_pic.url }} " alt="{{local.user.first_name.title}}  {{local.user.last_name.title}}" class="img-circle" width="105px" height="105px">  <a href="{% url 'excurj:show_profile' local.user.username %}" title="{{local.user.first_name.title}}  {{local.user.last_name.title}}">{{local.user.first_name.title}}  {{local.user.last_name.title}}</a>   </td>

	        <td>{{local.age}} year-old</td>

	        <td> {{local.career}} </td>

	        <td>  {{local.education}} </td>
	      </tr>
	    {% endfor %}
    	{% else %}
		<strong>There's no people in this city yet :( but there'll be soon! :)</strong>
		{% endif %}
	    </tbody>
	  </table>
	</div> -->
<!-- 		<h1>{{city.name}}'s Locals</h1>


		{% if city_locals_profiles %}
			<ul>
			{% for local in city_locals_profiles %}
				<li> <img src=" {{ local.prof_pic.url }} " class="img-circle"> <a href="{% url 'excurj:show_profile' local.user.username %}">{{local.user.first_name.title}}  {{local.user.last_name.title}}</a> {{local.sex.title}} born on  {{local.dob|date:'F-d'}} </li>
			{% endfor %}
			</ul>

		{% else %}
			<strong>There's no people in this city yet :( but there'll be soon! :)</strong>
		{% endif %} -->
    <!-- </div> -->

<!-- 	<div id="coming" class="tab-pane fade no_outline" style="border: none;">
 -->

	<!-- <div class="container table-responsive">
	  <h2 title="Travel mates in {{city.name}}" style="text-align: center;">People coming to <span style="font-weight: bold;"> {{city.display_name}} </span> soon! </h2>
	  <table class="table table-striped table-condensed table-hover">
	    <thead>
	      <tr> -->
	        <!-- <th>Name</th>
	        <th>Age</th>
	        <th>Career</th>
	        <th>Education</th> -->
	      <!-- </tr>
	    </thead>

	    <tbody>
	    {% if excursions %}
	   	{% for exj in excursions %}
	      <tr>
	        <td><img src=" {{exj.traveler.profile.prof_pic.url }} " class="img-circle" width="105px" height="105px" alt="{{ exj.traveler.first_name.title }}  {{ exj.traveler.last_name.title }}">  </td>
	        <td> <strong> <a href=" {% url 'excurj:show_profile' exj.traveler.username %} " title="{{ exj.traveler.first_name.title }}  {{ exj.traveler.last_name.title }}">{{ exj.traveler.first_name.title }}</a>  is arriving on {{ exj.date}} </td>
	        <td> <p class="lead">" {{exj.message}} "</p></td>
	      </tr>
	    {% endfor %}
			
		{% else %}
		<p class="lead">No one is coming just now.</p>
		{% endif %}
	    </tbody>
	  </table>
	</div>
</div>

 -->

    <!-- <div id="insta" class="tab-pane fade no_outline">
    	<script async src="https://d36hc0p18k1aoc.cloudfront.net/pages/a5b5e5.js"></script><div class="tintup" data-id="moghrabi" data-columns="" data-expand="true"    data-infinitescroll="true" data-personalization-id="863390" style="height:500px;width:100%;"></div>
    </div>



    <div id="events" class="tab-pane fade no_outline" style="margin-right: 20px;padding: 20px;">
      <h2 title="Local events in {{city.name}}">Here's what's happening in <strong>{{city.display_name}}</strong> to jump start your plans! </h2>
      {% if events %}

      {% for event in events %}

	    <div class="abouts">

	    	<a href=" {% url 'excurj:eventdetails' city.slug event.id %} " title="{{event.name}} in {{city.name}}"><h3 title="{{event.name}}">{{forloop.counter}}. {{event.name}}</h3></a>


	    	<div style="overflow: auto;">
	    		{% if event.cover %}
      				<img src="{{event.cover}}" style="float: right; width: 500px; height: auto;" class="img-thumbnail img-responsive" alt="{{event.name}} in {{city.name}}">
      			{% endif %}


      			{% if event.place.name %}
      				<pre style="white-space:pre-wrap; background-color: white; border: none;font-weight: bold;">Place or venue:<a href=" {% url 'excurj:eventdetails' city.slug event.id %}#venue_map " title="{{event.place.name}}"> {{event.place.name}} </a></pre>
      			{% else %}
      				<pre style="white-space:pre-wrap; background-color: white; border: none;">Venue or place not available</pre>
      			{% endif %}

      			{% if event.start_time %}
      				<pre style="white-space:pre-wrap; background-color: white; border: none;font-weight: bold;">Start time: {{event.start_time}}</pre>
      			{% else %}
      				<pre style="white-space:pre-wrap; background-color: white; border: none;">start time not available</pre>
      			{% endif %}


      			{% if event.ticket_uri %}
      				<pre style="white-space:pre-wrap; background-color: white; border: none;font-weight: bold;">Tickets: <a href="{{event.ticket_uri}}" target="_blank" title="Tickets for {{event.name}} in {{city.name}}" >{{event.ticket_uri}}</a></pre>
      			{% else %}
      				<pre style="white-space:pre-wrap; background-color: white; border: none;">Ticket info not avilable</pre>
      			{% endif %}


	    		{% if event.description %}
      				<pre style="white-space:pre-wrap; background-color: white; border: none;">{{event.description|truncatewords:50}} <a href=" {% url 'excurj:eventdetails' city.slug event.id %} " title="Details: {{event.name}} in {{city.name}}">more.</a> </pre>
      			{% else %}
      				<pre style="white-space:pre-wrap; background-color: white; border: none;">Description not available</pre>
      			{% endif %}
	    	</div>

		</div>

	  {% endfor %}	

	  {% else %}
	  	<p class="lead">No events were found.</p>

	  {% endif %}

    </div>



    <div id="poi" class="tab-pane fade no_outline">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>



	<div id="wiki" class="tab-pane fade no_outline" style="padding: 20px;">
	  	<h2 title="wiki simmary for {{city.name}}"><strong>{{city.display_name}}</strong>'s Wiki Summary to Jump Start Your Conversations!</h2>
		<pre style="white-space:pre-wrap; background-color: white; border: none;"> {{city.description}} </pre>
	</div>
  </div>


	<script type="text/javascript">
		$('.nav-tabs li a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
		$('.tab-content > .tab-pane.active').jScrollPane();
	});
	</script>
 -->
	
{% endblock %}