{% extends 'excurj/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title_block %}
	Welcome to {{user.first_name.title}}! profile. Yoppy!
{% endblock %}

{% block body_block %}
<div id="loading"><img src= "{% static 'images/giphy.gif' %}"></div>

<div id="content" class="col-sm-6 col-sm-offset-3" style="margin-top: 100px;margin-bottom: 100px" >

<h1>Create Your Profile</h1>

	<form method="post" action="?next=/thankyou/" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- {{ form|crispy }}


	                 {{ profile_form.city_search_text.label }}
	                {{ profile_form.city_search_text|attr:"id:google_city_search"|attr:"placeholder:Search cities.."|add_class:"prof_search"}}
	                {{ profile_form.city_search_text.errors }}<br>

				-->
				<!-- facebook conversion tracker -->
				<script>
					fbq('track', 'CompleteRegistration');
				</script>

	                                
                 {{ user_form|crispy }}
            	 {{ profile_form|crispy }}

 

    <input type="submit" value="Submit" class="btn btn-primary btn-lg"/>



        </form>    	
					
</div>


{% endblock %}