{% extends 'excurj/base_no_amp.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title_block %}
	excurj | Signup
{% endblock %}

{% block scripts_block %}
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
{% endblock %}

{% block body_block %}
<!--?next=/thankyou/-->
<div id="content" class="col-sm-6 col-sm-offset-3" style="margin-top: 100px;margin-bottom: 100px" >
	<h1>Create Your Profile</h1>
	<form 
		method="post" 
		action-xhr="/createprofile/" 

		enctype="multipart/form-data"
		target="_top"
		>
                {% csrf_token %}
				<!-- facebook conversion tracker -->
				<script>
					fbq('track', 'CompleteRegistration');
				</script>                  
                 {{ user_form|crispy }}
            	 {{ profile_form|crispy }}


    	<input type="submit" value="Submit and Login" class="btn btn-primary btn-lg"/>
        </form>    			
</div>



<script src="{% static 'js/autocomplete.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCccxiKA2599bTfsmwvpNeXxodgxBc4jwI&callback=initMap&libraries=places"></script>
{% endblock %}