{% extends 'excurj/base_no_amp.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title_block %}
	Update Your Profile
{% endblock %}

{% block body_block %}

<div class="col-sm-6 col-sm-offset-3" style="margin-top: 100px;margin-bottom: 100px">	
<h1>Update Your Profile</h1>
	<form method="post" action="?next=/" enctype="multipart/form-data">
        {% csrf_token %}
    	{{ edit_profile_form|crispy }}

        <input type="submit" value="Submit" class="btn btn-primary btn-lg "/>
    </form>    	

</div>

<script src="{% static 'js/autocomplete.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYfS_V4jHXS_jVYa1k2w9VY52r0pMrL8g&callback=initMap&libraries=places"></script>
{% endblock %}