{% extends 'excurj/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Make New Friends As You Travel!
{% endblock %}

{% block body_block %}

<div class="jumbotron " id="index-jumbotron">
  <div id="container">
    <div class="homepage_jumbo">

        <section class="header-sections">
        
        {% if request.user.is_authenticated %}

          <h1>{{request.user.first_name.title}},
          where do you want to go?</h1>
        
        {% else %}

        <h1>Where do you want to go?</h1>

        {% endif %}
        
        </section>

        <section class="header-sections">
          <p>excurj. is a community where people show visitors around their cities to make new friendships.</p>
        </section>

        <form action=" {% url 'excurj:search' %} ">
          <div class="form-group">
            <input type="text" name="city-search" class="form-control google_city_search" id="google_city_search" placeholder="Search cities..." >
                
          </div>

          <div class="buttons">
            <button class="header-button">Find a Guide</button>
            <button class="header-button">Become a Guide</button>
          </div>
        </form>
    </div>

    <div class="mobile">
      <img src=" {% static 'images/cap.jpg' %} " class="">
    </div>
  
    <!-- video background -->
    <video autoplay muted loop id="background_video">
            <source src="{% static 'videos/fun.mp4' %}" type="video/mp4" id="vid">
            <img src="{% static 'images/cap.jpg' %}">
    </video>

    <!-- shows the arrow pointing down at the bottom -->
    <div class="arrow"></div>
  </div>
</div>

<!-- How It Works section -->
<div class="how-it-works-container container-fluid" id="how-it-works">

  <h2>How It Works</h2>

  <div class="row">

    <div class="col-lg-4 col-xs-12">
        <div class="how-it-works-box"> 
          <img src=" {% static "images/meetlocals3.svg" %} "> 
          <h3>When You're a Traveler</h3>
          <p>Meet like minded locals who could show you around their city.</p>
        </div>
    </div>

    <div class="col-lg-4 col-xs-12">
      <div class="  how-it-works-box">
        <img src=" {% static "images/showpeople.svg" %} ">
        <h3>When You're a Local</h3>
        <p>Show travelers around and meet interesting international visitors.</p>
      </div>
    </div>

    <div class="col-lg-4 col-xs-12">
      <div class=" how-it-works-box">
        <img src=" {% static "images/makefriends.svg" %} ">
        <h3>Make New Friends!</h3>
        <p>Walking around is a fun bonding activity to make new friends!</p>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid superstars-container" id="superstars">

  <h2>Super Stars</h2>
  <p style="color: #929dad;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .2px;
    text-transform: uppercase;
    ">Last Two Reviews</p>

  <div class="container-fluid">

<!--pulls last two references-->
{% if refs %}
{% for ref in refs %}

    <div class="col-lg-6 col-xs-12">
        <div class="superstars-box">

            <div class="superstars-box-header">

              <a href=" {% url 'excurj:show_profile' ref.request.local.username %} ">{{ ref.request.local.first_name.title }}</a>  (local) met with  <a href=" {% url 'excurj:show_profile' ref.request.traveler.username  %} ">{{ref.request.traveler.first_name.title}}</a> (traveler) on {{ref.request.date}} in  <a href=" {% url 'excurj:show_city'  ref.request.local.profile.city.slug %} "> {{ref.request.local.profile.city}} </a>  
            </div>

              <div class="clearfix paired">

                <img src=" {{ ref.request.local.profile.prof_pic.url }} " id="first" class="img-circle img-responsive">
                <img src=" {{ ref.request.traveler.profile.prof_pic.url }} " id="second" class="img-circle img-responsive">

                <strong>{{ ref.request.local.first_name.title}} said:</strong>
                <span style="font-size: 20px">"</span> 
                {{ ref.local_desc }} <span style="font-size: 20px">"</span><br> <strong>{{ref.request.traveler.first_name.title}} said:</strong> <span style="font-size: 20px">"</span> {{ ref.traveler_desc }} <span style="font-size: 20px">"</span>
                
              </div>
              
        </div>
    </div>

{% endfor %}
{% endif %}
 
  </div>
</div>

  <div class="container popular-cities-container" id="popularcities">
    
      <h2>Popular Cities</h2>
      <p style="color: #929dad;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .2px;
    text-transform: uppercase;
    ">
      6 Most populated cities
      </p>
      <div class="row">

{% if cities %}
{% for city in cities %}

        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
          <div class="popular-cities-box">
          <div class="thumbnails">
            <a href="{% url 'excurj:show_city' city.slug %}">
              <div class="captions">
                <h2> {{ city.display_name }} </h2>
              </div>
{% if city.city.count == 1 %}

              <div class="num">
                <p> Has one awesome person!</p>
              </div>
{% else %}
              <div class="num">
                <p> Has {{ city.city.count}} people!</p>
              </div>

{% endif %}

              <img src=" {{city.photo_url}} " class="img-responsive img-rounded">

            </a>
          </div>
        </div>
      </div>

{% endfor %}
{% else %}
  <strong>There's no cities</strong>
{% endif %}

      </div>
  </div>

<div class="container-fluid superstars-container">

  <h2>Instagram Feed  (<a href="https://www.instagram.com/explore/tags/excurj/" target="_blank">#excurj</a>) </h2>
  
    <!-- SnapWidget -->
  <script src="https://snapwidget.com/js/snapwidget.js"></script>
  <iframe src="https://snapwidget.com/embed/384797" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>

</div>

<div class="superstars-container ready">
  
    <div class="ready-header">
      <h2>Ready to meet new friends?</h2>
      <button class="ready-header-button">Sign up for free!</button>
    </div>
    
          
  

    <!-- <img src=" {% static 'images/2friends.jpg' %} " id="readyimg"> -->
  
</div>

{% endblock %}
