{% extends 'excurj/base.html' %}
{% load staticfiles %}

{% block title_block %}
  Make New Friends As You Travel!
{% endblock %}

{% block body_block %}

<div class="jumbotron" id="index-jumbotron">
  <div id="container">
    <div class="homepage_jumbo">

        <section class="header-sections">
          <h1>Seif, where do you want to go?</h1>
        </section>

        <section class="header-sections">
          <p>excurj. is a community where people show visitors around their cities to make new friendships.</p>
        </section>

        <form>
          <div class="form-group">
            <input type="text" name="homepage-search" class="form-control" id="homepage-search" placeholder="Search cities...">
          </div>
        </form>

        <div class="buttons">
          <button class="header-button">Find a Guide</button>
          <button class="header-button">Become a Guide</button>
        </div>
    
    </div>
  
    <!-- video background -->
    <video autoplay muted loop id="background_video">
            <source src="{% static 'videos/fun.mp4' %}" type="video/mp4">
    </video>

    <!-- shows the arrow pointing down at the bottom -->
    <div class="arrow"></div>
  </div>
</div>

<!-- How It Works section -->
<div class="how-it-works-container container-fluid">

  <h2>How It Works</h2>

  <div class="row">

    <div class="col-lg-4 col-xs-12">
        <div class="how-it-works-box"> 
          <img src=" {% static "images/meetlocals3.svg" %} "> 
          <h3>When You're a Traveler</h3>
          <p>Meet like-minded locals who could show you around their city.</p>
        </div>
    </div>

    <div class="col-lg-4 col-xs-12">
      <div class="  how-it-works-box">
        <img src=" {% static "images/showpeople.svg" %} ">
        <h3>When You're a Local</h3>
        <p>Show travelers around and meet interesting international visitors.</p>
      </div>
    </div>

    <div class="col-lg-4 col-xs-12">
      <div class=" how-it-works-box">
        <img src=" {% static "images/makefriends.svg" %} ">
        <h3>Make New Friends!</h3>
        <p>Walking around is a fun bonding activity to make new friends!</p>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid superstars-container">

  <h2>Super Stars</h2>

  <div class="row">

    <div class="col-lg-6 col-xs-12">
        <div class="superstars-box">

            <div class="superstars-box-header">
               {{ req0.req0.local.first_name.title}} (local) met with {{req0.req0.traveler.first_name.title}} (traveler) on {{req0.req0.date}} in {{req0.req0.local.profile.city}} 
            </div>

              <div class="clearfix paired">

                <img src=" {{req0.req0.local.profile.prof_pic.url }} " id="first" class="img-circle img-responsive">
                <img src=" {{ req0.req0.traveler.profile.prof_pic.url }} " id="second" class="img-circle img-responsive">

                <strong>{{ req0.req0.local.first_name.title}} said:</strong>
                <span style="font-size: 20px">"</span> 
                {{req0.local_references_traveler.description}} <span style="font-size: 20px">"</span><br> <strong>{{req0.req0.traveler.first_name.title}} said:</strong> <span style="font-size: 20px">"</span> {{ req0.traveler_references_local.description }} <span style="font-size: 20px">"</span>
              </div>
        </div>
    </div>

    <div class="col-lg-6 col-xs-12">
        <div class="superstars-box"> 
              
              <div class="superstars-box-header">
                {{ req1.req1.local.first_name.title}} (local) met with {{req1.req1.traveler.first_name.title}} (traveler) on {{req1.req1.date}} in {{req1.req1.local.profile.city}} 
              </div>

              <div class="clearfix paired">
                <img src=" {{req1.req1.local.profile.prof_pic.url }} " id="first" class="img-circle img-responsive">
                <img src=" {{ req1.req1.traveler.profile.prof_pic.url }} " id="second" class="img-circle img-responsive">

                <strong>{{ req1.req1.local.first_name.title}} said:</strong> 
                <span style="font-size: 20px">"</span> {{req1.local_references_traveler.description}} <span style="font-size: 20px">"</span><br> <strong>{{req1.req1.traveler.first_name.title}} said:</strong>  <span style="font-size: 20px">"</span>{{ req1.traveler_references_local.description }}<span style="font-size: 20px">"</span>
              </div>
        </div>
    </div>
  </div>
</div>

  <div class="container-fluid popular-cities-container">
    
      <h2>Popular Cities</h2>
      <div class="row">

{% if cities %}
{% for city in cities %}

        <div class="col-lg-2 col-xs-12">
          <div class="popular-cities-box">
          <div class="thumbnails">
            <a href="{% url 'excurj:show_city' city.slug %}">
              <div class="captions">
                <h2> {{ city.name }} </h2>
              </div>
{% if city.userprofile_set.count == 1 %}

              <div class="num">
                <p> Has one awesome person!</p>
              </div>
{% else %}
              <div class="num">
                <p> Has {{ city.userprofile_set.count}} people!</p>
              </div>

{% endif %}

              <img src=" {{city.photo_url}} " class="img-responsive img-rounded">

            </a>
          </div>
        </div>
      </div>

{% endfor %}
{% else %}
  <strong>There's no cities</strong>
{% endif %}

      </div>
  </div>

<div class="container-fluid superstars-container">

  <h2>Instagram Feed (#excurj)</h2>
  <iframe width="100%" height="100%" src="https://pro.iconosquare.com/widget/gallery?choice=hashtag&amp;hashtag=excurj&amp;show_infos=false&amp;linking=instagram&amp;width=100%25&amp;height=100%25&amp;title=See%20what%20excurj%20users%20have%20been%20up%20to!&amp;title-align=left&amp;responsive=true&amp;mode=grid&amp;layout_x=3&amp;layout_y=2&amp;padding=10&amp;photo_border=true&amp;background=FFFFFF&amp;text=657886&amp;widget_border=true&amp;radius=5&amp;border-color=e6e6e6&amp;user_id=5465734036&amp;time=1494857886964" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; height:800px;" class="iconosquare-widget"></iframe>

</div>

<div class="superstars-container ready">
  
    <div class="ready-header">
      <h2>Ready to meet friends you haven't met yet?</h2>
      <button class="ready-header-button">Sign up for free!</button>
    </div>
    
          
  

    <img src=" {% static 'images/2friends.jpg' %} " id="readyimg" class="img-responsive">
  
</div>

{% endblock %}
