{% extends 'excurj/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{user.first_name.title}} {{user.last_name.title}}'s profile. Currently in {{user.profile.city.name}}
{% endblock %}


{% block desc_block %}
	<meta name="description" content="Meet {{user.first_name.title}} {{user.last_name.title}} to become friends! excurj is a community where people show visitors around their cities to form new friendships.">
{% endblock %}


{% block kw_block %}
	<meta name="keywords" content="meet locals in, make friends with locals, friends, fun, genuine travel experience, culture, cultural exchange, inter-cultural relationships, tolerance, travel, travel blogging, travel vloging, things to do in {{user.first_name.title}} {{user.last_name.title}}, {{user.first_name.title}}, {{user.last_name.title}}">
{% endblock %}


{% block css_block %}
	#city_hero {
	background-image:url('{{ MEDIA_URL }}{{user.profile.city.city_image}}');
}

/*USER PROFILE CSS*/
div.jumbotron#user_jumbotron .container{
    margin: 0;
    padding: 0;
    min-height: 320px;
    position: relative;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    width: 100%;
    -webkit-filter: brightness(1.10);
    filter: brightness(1.10);

}


.prof_pic_overlay{
  position: absolute;
  left: 70px;
  top:190px;
  box-shadow: 0 1px 1px rgba(136,153,166,0.15);
  z-index: 3;
  
  border-radius: 15px;

}

.prof_pic_overlay h3, div.tab-content div#about h3{
    font-size: 21px;
    font-weight: bold;
    line-height: 28px;
    margin-right: 2px;
    word-break: keep-all;
    color: black;
}

pre{
  word-break: keep-all;
}

.prof_pic_overlay img{
  width: 200px;
  height: 200px;
  border-radius: 12px;
}

.personal_info{
  
  margin-left: 70px;
  /*margin-top: 80px;*/
  background-color:  #f5f8fa;
}

.personal_info p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
    word-wrap: break-word;
}


.abouts{
  background-color: white; 
  padding: 18px;
  border-radius: 12px;
  margin-top: 50px;
  margin-bottom: 50px;
  /*box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);*/
}

{% endblock %}

{% block body_block %}

<div style="background-color: #f5f8fa">	

	{% if user %}

	<div class="jumbotron" id="user_jumbotron">
		<!-- <a href="{{ MEDIA_URL }}{{user.profile.city.city_image}}" data-lightbox="City Picture" data-title="Picture of {{user.profile.city.name}}" title="Picture of {{user.profile.city.name}}"> -->
			<div class="container" id="city_hero">
	<!-- 		<div class="city_header">
				<h1> {{user.profile.city.display_name.upper}} </h1>
			</div> -->
			</div>
		<!-- </a> -->

		<div class="prof_pic_overlay" >
			<!-- <a href="{{ user.profile.prof_pic.url }}" data-lightbox="Profile Picture" data-title="{{user.get_full_name.title}}" title="{{user.get_full_name.title}}"> -->
				<img alt="{{user.get_full_name.title}}" src=" {{ user.profile.prof_pic.url }} " class="img-thumbnail">
			<!-- </a> -->
		</div>
	</div>

	<ul class="nav" id="tabs_user" style="float: right;">
		<li class="active" role="presentation"><a data-toggle="tab" href="#about">ABOUT</a></li>
		<li role="presentation"><a data-toggle="tab" href="#reviews">REVIEWS</a></li>
		<li role="presentation" title="Coming soon!"><a data-toggle="tab" href="javascript:void(0)">INSTAFRAM FEED</a></li>
		<li role="presentation"><a data-toggle="tab" href="#trips">UPCOMING TRIPS</a></li>

		{% if request.user.is_authenticated and request.user.profile == user.profile%}

			<li class="pull-right " style="margin-right: 20px;margin-top: 2px;">

				<button class="btn btn-default btn-md" style=""> <a href=" {% url 'excurj:editprofile' %} "><strong>Edit Profile</strong></a></button>
			</li>

		{% else %}
			
				<li class="pull-right " style="margin-right: 20px;margin-top: 2px;">
					<button class="btn btn-danger btn-md">
						<a title="Ask {{user.first_name.title}} to Take You Out!" href="{% url 'excurj:excursionrequest' user.username %}" style="color: white"><strong>Ask {{user.first_name.title}} to Take You Out!</strong> </a>
					</button>
				</li>
		{% endif %}







		{% if request.user.is_authenticated and show_review_button_for_local == True %}

			<li class="pull-right " style="margin-right: 20px;margin-top: 2px;">

				<button class="btn btn-default btn-md" style=""> 
					<a title="Leave a Reference for {{user.first_name.title}} (Local)" href=" {% url 'excurj:leavereview_for_local' user.username %} ">
						<strong>
							Leave a Reference for {{user.first_name.title}} (Local)
						</strong>
					</a>
				</button>
			</li>

		{% elif request.user.is_authenticated and show_review_button_for_traveler == True %}
			
				<li class="pull-right " style="margin-right: 20px;margin-top: 2px;">
					<button class="btn btn-default btn-md">
						<a title="Leave a Reference for {{user.first_name.title}} (Traveler)" href="{% url 'excurj:leavereview_for_traveler' user.username %}" style="color: black">
							<strong>
								Leave a Reference for {{user.first_name.title}} (Traveler)
							</strong> </a>
					</button>
				</li>

		{% else %}

		{% endif %}


































	</ul>
<div style="" id="tabs_container">
	<div id="tabs_content_user" class="tab-content" style="">

	    <div id="about" class="tab-pane fade active" style="">
	    

	    	<div class="abouts">
		    	<h3>About  {{user.first_name.title}} </h3>
		    	<p class="lead">
		    		{{user.profile.about_you}}
		    	</p>
	    	</div>

	    

	    
	    	<div class="abouts">
		    	<h3>Music, Books and Movies </h3>
		    	<p class="lead">
		    		{{user.profile.music_movies_books}}
		    	</p>
	    	</div>

	    	<div class="abouts">
		    	<h3>Views on Forming Friendships via Travel</h3>
		    	<p class="lead">
		    		{{user.profile.friendship}}
		    	</p>
	    	</div>
	    

	    
	    	<div class="abouts">
		    	<h3>What will {{ user.first_name.title }} show you around {{user.profile.city.display_name.title}} </h3>
		    	<p class="lead">
		    		{{user.profile.what_will_you_show_visitors}}
		    	</p>
	    	</div>


	    </div>

		<div id="reviews" class="tab-pane fade">
			
			{% if reqs_as_local %}

				<h3><strong>What people said about {{ user.first_name.title }} </strong></h3>

			{% for req in reqs_as_local %}

				<div style="margin-bottom: 50px;padding: 0px">

				<img src=" {{req.traveler.profile.prof_pic.url}} " class="img-circle" style="float: left;margin-right: 15px;"> 

				{% if req.requestreference.traveler_fun == True %}
					<div style="padding-top: 10px;">
						<div>
							<strong> <a href=" {% url 'excurj:show_profile' req.traveler.username  %} ">{{req.traveler.first_name.title}}</a>  had fun with {{ user.first_name.title}} and said:</strong>
						</div>
						 <p class="lead">"{{  req.requestreference.traveler_desc }}"</p>
					</div>

				{% else %}

					<div>
						<strong> <a href=" {% url 'excurj:show_profile' req.traveler.username  %} ">{{req.traveler.first_name.title}}</a>  didn't have fun with {{ user.first_name.title}} and said:</strong> "{{  req.requestreference.traveler_desc }} We missed our appointment! we'll do it again soon."
					</div>

			{% endif %}
			
			</div>
			<hr>
			{% endfor %}

			{% else %}
			<div class="abouts" style="padding: 50px;">
				<p class="lead">No said anythong about {{ user.first_name.title }} yet!</p>
			</div>
			{% endif %}

		</div><!--end of reviews-->



	    <div id="insta" class="tab-pane fade">
	    	
	    </div>



	    <div id="trips" class="tab-pane fade">
	      {% if excurjs %}
	      	{% for ex in excurjs %}
	      	<div class="abouts">
	      		<p class="lead">Trip {{forloop.counter}} </p>
	      		<hr>
	      		<p class="lead">Going to: <a href=" {%url 'excurj:show_city' ex.city.slug%} ">{{ex.city}}</a> </p>
	      		<p class="lead">On: {{ex.date}}</p>
	      		<p class="lead">"{{ex.message}}"</p>
	      		<hr>
	      	</div>
	      		
	      	{% endfor %}
	      {% else %}
		      <div class="abouts" style="padding: 50px;">
		      	<p class="lead">{{user.first_name}} doesn't have any trips soon.</p>
		      </div>
		  {% endif %}
	    </div>

  	</div>


	<div class="personal_info" style="float: left;position: absolute;top: 0">
		<h3>{{user.get_full_name.title}}</h3>

		<p class=""> 
		 	<a href="{% url 'excurj:show_profile' user.username  %}"> @{{ user.username }} </a>
		 </p>

		<p class="">
		  	<span class="glyphicon glyphicon-home" style="padding-right: 10px; font-size: 15px;"></span>  <a href=" {% url 'excurj:show_city' user.profile.city.slug %} ">  
		 	{{user.profile.city.name.title}}</a> 
		</p>

		<p class="">
		  	<span class="glyphicon glyphicon-book" style="padding-right: 10px; font-size: 15px;"></span>    
		 	{{user.profile.education}} 
		</p>

		<p class=""> 
		 	<span class="glyphicon glyphicon-briefcase" style="padding-right: 10px; font-size: 15px;"></span>{{user.profile.career.title}}
		</p>

		<p class="">
			<span class="glyphicon glyphicon-calendar" style="padding-right: 10px; font-size: 15px;"></span>
		 	Joined {{ user.date_joined|date:'F d, Y' }}
		</p>

		<p class="">
			<span class="glyphicon glyphicon-baby-formula" style="padding-right: 10px; font-size: 15px;"></span>
			Born on {{user.profile.dob|date:'F d, Y'}}
		</p>
	</div>


</div>
</div>

{% else %}

<p class="lead" style="position: relative;top: 100px;">This user doesn't seem to exist anymore :(</p>

{%endif%}
{% endblock %}
	